---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout title="Cursos">
    <p class="text-gray-300" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus saepe quae cum suscipit facilis, voluptates illo ducimus inventore odit tempora rerum possimus ab! Enim voluptas quia doloribus. Ea, suscipit debitis!</p>
</BaseLayout>