---
import BaseLayout from '../layouts/BaseLayout.astro';

const { title } = Astro.props;
---

<BaseLayout title="Inicio">
  <h1 class="text-4xl font-bold text-center animate-fadeInUp mb-6">
    { title } 
  </h1>
  <p class="text-center text-xs mx-auto text-gray-300">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem exercitationem similique ullam sapiente, ea voluptates eos molestiae culpa, eveniet tenetur, earum laborum assumenda ipsam quos aperiam nobis. Dolor, repellat!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate repudiandae debitis similique quae nemo, accusamus accusantium quisquam doloribus quam odit laboriosam commodi cumque dolore reprehenderit ipsa illo delectus quas. Quam.
  </p>
</BaseLayout>
