---
import Layout from '../layouts/Layout.astro';

import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Inicio</h1>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas magnam perspiciatis placeat vero labore, hic ad autem similique architecto quod aliquid minima atque fugiat exercitationem excepturi omnis inventore iste voluptatum.</p>
</Layout>
